.first-line__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px 30px 0;
}

.first-line__subscription-img {
  margin-right: 30px;
  border-radius: 50%;
}
.first-line__inner-left {
  display: flex;
}
.first-line__watch-later-img {
  object-fit: contain;
}
.first-line__watch-later-title {
  margin-left: 25px;
}

@media only screen and (max-width: 550px) {
  .first-line__inner-left {
    margin-left: auto;
    margin-right: auto;
  }
}
