 .main {
   width: 100%;
   max-width: 1640px;
   margin-left: auto;
   margin-right: auto;
}
.main.active .left-side {
  width: 250px;
  opacity: 1;
  transition: all .3s ease;
}
.main__inner {
  display: flex;
}

@media only screen and (max-width: 550px) {


}